body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
p{
    font-family: Roboto;
    font-size: 64px;
    margin: auto;
    text-align: center;
    margin-top: 300px;
}
img{
    margin: auto;
    margin-bottom: 300px;
    width: 400px;
}